.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2 {
    padding: 20px;
    background-color: #02b1c8;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    box-shadow: 1px 1px 6px 6px rgba(162, 229, 255, 1);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    border-radius: 50%;
    width: 250px;
    box-shadow: 1px 1px 8px 6px rgb(185, 56, 185);
}
