.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1270px;
    background-color: #550195;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
}
.container img {
    width: 250px;
    padding: 10px;
}

.container button {
    margin: 7px;
    height: 2rem;
}
