.container {
    width: 1200px;
    height: 93vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.caja {
    height: 300px;
    width: 300px;
    background-image: url("../../images/login.png");
    background-size: contain;
    border-radius: 50%;
}
.subcaja {
    background: rgba(77, 77, 77, 0.7);
    padding: 50px 50px 40px 50px;
    border-radius: 16px;
    box-shadow: 1px 1px 3px 6px rgba(77, 77, 77, 0.7);
}

.container button {
    color: white;
    background-color: #550094;
    &:hover {
        background-color: #530566;
    }
    margin: 10px;
    border: solid 1px rgb(46, 1, 46);
}

.labelsInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.labelsInputs input {
    color: white;
    font-size: 0.8em;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background: rgba(109, 109, 109, 0.5);
}
