.container {
    margin: 12px;
    background-color: #02b1c8;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 15px;
    min-width: 200px;
    max-width: 200px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container:hover {
    box-shadow: 1px 1px 6px 6px rgba(162, 229, 255, 1);
    transition: 500ms;
}

.separBtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container img {
    border-radius: 50%;
    width: 160px;
    margin-top: 10px;
}

.container img:hover {
    box-shadow: 1px 1px 8px 6px rgb(185, 56, 185);
    transition: 500ms;
}

.container button {
    border-radius: 50%;
    padding: 0%;
    width: 35px;
    height: 35px;
    border: solid 1px #2244a8;
}

.container button:hover {
    background-color: rgb(207, 159, 247);
    transition: 250ms;
}
