.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #02b1c8;
    padding: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 260px;
    width: 270px;
}

.container img {
    width: 250px;
}

.labelsInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
