/* .container {
    display: flex;
    flex-direction: row;
} */

.container label {
    color: white;
}

.container button {
    color: white;
    background-color: #550094;
    &:hover {
        background-color: #06378c;
    }
    margin: 15px;

    /* border-bottom: #550094; */
}

.container input {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
